<div
  class="container-fluid"
  data-bs-spy="scroll"
  data-bs-target="#mynavbar"
  id="home"
>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    id="mynavbar"
  >
    <div class="container">
      <a class="navbar-brand " href="#">
        <img
          width="70px"
          height="40px"
          src="../../../assets/img//logo.jpg"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-3">
            <a
              [routerLink]="['/home']"
              routerLinkActive="lactive"
              class="btn btn-dark"
              >Home</a
            >
          </li>

          <li class="nav-item px-3" *ngIf="authService.isLogged">
            <a
              [routerLink]="['/doctors']"
              routerLinkActive="lactive"
              class="btn btn-dark"
              >Doctors</a
            >
          </li>
          <li class="nav-item px-3" *ngIf="authService.isLogged">
            <a
              [routerLink]="['/patients']"
              routerLinkActive="lactive"
              class="btn btn-dark"
              >Patients</a
            >|
          </li>
          <li class="nav-item px-3" *ngIf="authService.isLogged">
            <a
              routerLink="/appointments"
              routerLinkActive="lactive"
              class="btn btn-dark"
              >Appointment</a
            >|
          </li>
          <li class="nav-item px-3" *ngIf="authService.isLogged">
            <a
              [routerLink]="['/medicine']"
              routerLinkActive="lactive"
              class="btn btn-dark"
              >Medicine</a
            >
          </li>
          <li class="nav-item px-3" *ngIf="authService.isLogged">
            <a
              routerLink="/prescription"
              routerLinkActive="lactive"
              class="btn btn-dark"
              >Prescription </a
            >|
          </li>
          <li class="nav-item px-3" *ngIf="authService.isLogged">
            <a
              routerLink="/clinics"
              routerLinkActive="lactive"
              class="btn btn-dark"
              >Clinics </a
            >|
          </li>
          <li class="nav-item px-3" *ngIf="!authService.isLogged">
            <a
              routerLink="/login"
              routerLinkActive="lactive"
              class="btn btn-outline-success"
              >login</a
            >|
          </li>
          <!-- <li class="nav-item px-3">
            <a
              routerLink="/register"
              routerLinkActive="lactive"
              class="btn btn-outline-success"
              >Register</a
            >|
          </li> -->
        </ul>
        <!-- <div class="d-flex">
          <a href="https://www.facebook.com/ITIchannel/" class=""
            ><img src="../../assets/img/facebook.png" alt=""
          /></a>
          &nbsp;&nbsp;
          <a
            href="https://www.linkedin.com/school/information-technology-institute-iti-/"
            class=""
            ><img src="../../assets/img/linkedin.png" alt=""
          /></a>
          <a
            href="https://www.youtube.com/channel/UCGHjqW4Wsg2CNo8-N5KSSUQ"
            class=""
            ><img src="../../assets/img/youtube.png" alt=""
          /></a>
          &nbsp;&nbsp;
        </div> -->
      </div>
    </div>
  </nav>
</div>
