<p-dialog header="Doctor Details" position="top" [(visible)]="display">

  <div class="d-flex p-3 flex-column align-items-center">
      <p-image src="{{ doctor?.image }}" alt="Image" width="250"></p-image>
      <h3>Dr: {{doctor?.name}}</h3>
      <p>phone: {{doctor?.phone}}</p>
      <p>Age: {{doctor?.age}}</p>
      <p>specialization: {{doctor?.spec}}</p>
  </div>
</p-dialog>

<div class="d-flex justify-content-evenly">
  <!-- <p-button (click)="showDoctor()" icon="pi pi-info-circle" label="Details"></p-button> -->
  <button
    class="btn btn-success w-100 mx-2"
    (click)="showDoctor()"
  >
    Details
  </button>
